{% load static %}

<!--Footer Start-->
    <footer id="wt-footer" class="wt-footer wt-haslayout">
        <div class="wt-footerholder wt-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="wt-footerlogohold">
                            <strong class="wt-logo"><a href="index.html"><img src="images/flogo.png" alt="company logo here"></a></strong>
                            <div class="wt-description">
                                <p>Даний сервіс дає можливість швидко відшукати потрібного майстра. Система рейтенгів дає можливість
                                    відсортувати список відповідно до виставлених балів за виконану роботу та кількості відгуків. 
                                    Пропозиції по роботі сайту відсилайте на адресу sanyache75@gmail.com
                                    <a href="{% url 'howitworks' %}">більше...</a></p>
                            </div>
                            <ul class="wt-socialiconssimple wt-socialiconfooter">
                                <li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>                                
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>        
        <div class="wt-haslayout wt-footerbottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="wt-copyrights"><span>Workhelper.</span> © 2021 sanyache75@gmail.com.</p>                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer End-->