{% load static %}
<div class="pages">
    <div class="items">
        {% for response in responses %}																
        <div class="wt-userlistinghold wt-userlistingsingle">										
            <div class="wt-userlistingcontent">
                <div class="wt-contenthead">
                    <div class="wt-title">
                        <a href="javascript:void(0);"><i class="fa fa-check-circle"></i>{{ response.author }}</a>
                        {% if request.user == response.author %}
                        <a href="javascript:void(0);" 
                            class="delete-response" 
                            data-url="{% url 'delete_response' response.id %}" 
                            style="float: right;">
                            X
                        </a>
                        {% endif %}
                        <h3>{{ response.description }}</h3>												
                    </div>
                    <ul class="wt-userlisting-breadcrumb">												
                        <li><span><i class="far fa-calendar"></i> {{ response.created }}</span></li>
                        <li>
                            <a href="javascript:void(0);" 
                            class="reply"
                            data-id="{{ response.id }}"                                       
                            >Відповісти
                        </a>
                        </li>
                        <li class="rating-star" data-rating="{{ response.rating }}">
                            <span hidden class="wt-stars"><span></span></span>                                            
                        </li>
                        <li class="rating-value">                            
                            <div class="rate-star"><div class="rating-active" data-rating="{{ response.rating }}"></div></div>                            
                        </li>
                    </ul>
                </div>
            </div>
            <div class="wt-title" id="response-{{ response.id }}">
                {% for reply in response.replies.all %}
                <div>
                    <br/>
                    <span>{{ reply.author }}{{ reply.created }}</span><p>{{ reply.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if responses.has_next %}							
<div class="wt-btnarea more-btn">
    <a href="javascript:void(0);"
        id="load-more-response"
        class="wt-btn load-more"
        data-url="{{ request.build_absolute_uri }}"
        data-pages="{{ paginator.num_pages }}"
        data-page="{{ page_obj.number }}"
        data-id=""
        data-filter="">
        Завантажити ще
    </a>
</div>
{% endif %}
<!-- Modal window -->
<div class="modal fade" id="modal-reply">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Додати коментар</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                
            </div>
            <form class="modal-form" method="post" action="{% url 'create_reply' %}">
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" 
                            name="description" 
                            id="text-reply"
                            placeholder="Напишіть відповідь"></textarea>
                    </div>
                    <input type="hidden" name="id" value="" id='response-id'>
                </div>
                {% csrf_token %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
                    <button type="submit" 
                            class="btn btn-primary"
                            data-id=""
                            id="add-reply" 
                        >Додати коментар
                    </button>
                </div>
            </form>    
        </div>
    </div>
</div>