{% load static %}
{% for worker in workers %}
<div class="wt-userlistinghold wt-featured">
    <span class="wt-featuredtag"><img src="{% static 'images/featured.png' %}" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
    <figure class="wt-userlistingimg">
        {% if worker.image_small_avatar %}
        <img src="{{ worker.image_small_avatar.url }}" alt="image description">
        {% else %}
        <img src="{% static 'images/default.jpg' %}" style="width: 100px; height: 100px;">
        {% endif %}
    </figure>
    <div class="wt-userlistingcontent">
        <div class="wt-contenthead">
            <div class="wt-title">
                <a href="{% url 'worker_detail' worker.id %}"><i class="fa fa-check-circle"></i>
                    профіль створено {{ worker.created }}
                </a>
                <a href="{% url 'worker_detail' worker.id %}"><h3>{{ worker.user.get_full_name }}</h3></a>
            </div>
            <ul class="wt-userlisting-breadcrumb">
                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                <li><span><img src="images/flag/img-02.png" alt="img description">  United States</span></li>
                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
            </ul>
        </div>
        <div class="wt-rightarea">
            <span class="wt-starsvtwo rating-star" data-rating="{{ worker.rating }}">                
                <i hidden class="fa fa-star fill"></i>
            </span>
            <span class="wt-starcontent">{{ worker.rating|floatformat }} <em>Відгуків: {{ worker.feedback }}</em></span>
        </div>
    </div>
    <div class="wt-description">
        <p>{{ worker.describe }}</p>
    </div>
    <div class="wt-tag wt-widgettag">
        {% for tag in worker.skilltags.all %}
        <a href="javascript:void(0);">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}
<div class="wt-userlistinghold wt-featured">
    <span class="wt-featuredtag wt-featuredtagcolor1"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
    <figure class="wt-userlistingimg">
        <img src="images/user/userlisting/img-02.jpg" alt="image description">
    </figure>
    <div class="wt-userlistingcontent">
        <div class="wt-contenthead">
            <div class="wt-title">
                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Marcelene Westerberg</a>
                <h2>SEO/PPC Social Media Marketing Expert</h2>
            </div>
            <ul class="wt-userlisting-breadcrumb">
                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                <li><span><img src="images/flag/img-05.png" alt="img description">  United Emirates</span></li>
                <li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
            </ul>
        </div>
        <div class="wt-rightarea">
            <span class="wt-starsvtwo">
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star"></i>
            </span>
            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
        </div>
    </div>
    <div class="wt-description">
        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliquaenim ad minim veniamac quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="wt-tag wt-widgettag">
        <a href="javascript:void(0);">PHP</a>
        <a href="javascript:void(0);">HTML</a>
        <a href="javascript:void(0);">JavaScript</a>
        <a href="javascript:void(0);">WordPress</a>
        <a href="javascript:void(0);">Team Management</a>
        <a href="javascript:void(0);">JQuery</a>
        <a href="javascript:void(0);">...</a>
    </div>
</div>
<div class="wt-userlistinghold wt-featured">
    <span class="wt-featuredtag wt-featuredtagcolor2"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
    <figure class="wt-userlistingimg">
        <img src="images/user/userlisting/img-03.jpg" alt="image description">
    </figure>
    <div class="wt-userlistingcontent">
        <div class="wt-contenthead">
            <div class="wt-title">
                <a href="usersingle.html"><i class="fa fa-check-circle"></i>Vance Applebaum</a>
                <h2>Skilled Full Stack Web Developer</h2>
            </div>
            <ul class="wt-userlisting-breadcrumb">
                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                <li><span><img src="images/flag/img-01.png" alt="img description">  Australia</span></li>
                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
            </ul>
        </div>
        <div class="wt-rightarea">
            <span class="wt-starsvtwo">
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star"></i>
            </span>
            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
        </div>
    </div>
    <div class="wt-description">
        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliquaenim ad minim veniamac quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="wt-tag wt-widgettag">
        <a href="javascript:void(0);">PHP</a>
        <a href="javascript:void(0);">HTML</a>
        <a href="javascript:void(0);">JavaScript</a>
        <a href="javascript:void(0);">WordPress</a>
        <a href="javascript:void(0);">Team Management</a>
        <a href="javascript:void(0);">JQuery</a>
        <a href="javascript:void(0);">...</a>
    </div>
</div>
<div class="wt-userlistinghold">
    <figure class="wt-userlistingimg">
        <img src="images/user/userlisting/img-01.jpg" alt="image description">
    </figure>
    <div class="wt-userlistingcontent">
        <div class="wt-contenthead">
            <div class="wt-title">
                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Herlinda Hundley
                </a>
                <h2>Pioneers Of eCommerce Data Entry</h2>
            </div>
            <ul class="wt-userlisting-breadcrumb">
                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                <li><span><img src="images/flag/img-04.png" alt="img description">  England</span></li>
                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
            </ul>
        </div>
        <div class="wt-rightarea">
            <span class="wt-starsvtwo">
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star"></i>
            </span>
            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
        </div>
    </div>
    <div class="wt-description">
        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliquaenim ad minim veniamac quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="wt-tag wt-widgettag">
        <a href="javascript:void(0);">PHP</a>
        <a href="javascript:void(0);">HTML</a>
        <a href="javascript:void(0);">JavaScript</a>
        <a href="javascript:void(0);">WordPress</a>
    </div>
</div>
<div class="wt-userlistinghold">
    <figure class="wt-userlistingimg">
        <img src="images/user/userlisting/img-04.jpg" alt="image description">
    </figure>
    <div class="wt-userlistingcontent">
        <div class="wt-contenthead">
            <div class="wt-title">
                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Valentine Mehring</a>
                <h2>SEO Expert &amp; Consultant</h2>
            </div>
            <ul class="wt-userlisting-breadcrumb">
                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                <li><span><img src="images/flag/img-03.png" alt="img description">  Canada</span></li>
                <li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
            </ul>
        </div>
        <div class="wt-rightarea">
            <span class="wt-starsvtwo">
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star"></i>
            </span>
            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
        </div>
    </div>
    <div class="wt-description">
        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliquaenim ad minim veniamac quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="wt-tag wt-widgettag">
        <a href="javascript:void(0);">PHP</a>
        <a href="javascript:void(0);">HTML</a>
        <a href="javascript:void(0);">Team Management</a>
        <a href="javascript:void(0);">JQuery</a>
    </div>
</div>
<div class="wt-userlistinghold">
    <figure class="wt-userlistingimg">
        <img src="images/user/userlisting/img-05.jpg" alt="image description">
    </figure>
    <div class="wt-userlistingcontent">
        <div class="wt-contenthead">
            <div class="wt-title">
                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Herlinda Hundley</a>
                <h2>Pioneers Of eCommerce Data Entry</h2>
            </div>
            <ul class="wt-userlisting-breadcrumb">
                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                <li><span><img src="images/flag/img-02.png" alt="img description">  United States</span></li>
                <li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
            </ul>
        </div>
        <div class="wt-rightarea">
            <span class="wt-starsvtwo">
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
        </div>
    </div>
    <div class="wt-description">
        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliquaenim ad minim veniamac quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="wt-tag wt-widgettag">
        <a href="javascript:void(0);">PHP</a>
        <a href="javascript:void(0);">HTML</a>
        <a href="javascript:void(0);">JQuery</a>
    </div>
</div>
<div class="wt-userlistinghold">
    <figure class="wt-userlistingimg">
        <img src="images/user/userlisting/img-06.jpg" alt="image description">
    </figure>
    <div class="wt-userlistingcontent">
        <div class="wt-contenthead">
            <div class="wt-title">
                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Valentine Mehring</a>
                <h2>SEO Expert &amp; Consultant</h2>
            </div>
            <ul class="wt-userlisting-breadcrumb">
                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                <li><span><img src="images/flag/img-03.png" alt="img description">  Canada</span></li>
                <li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
            </ul>
        </div>
        <div class="wt-rightarea">
            <span class="wt-starsvtwo">
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
        </div>
    </div>
    <div class="wt-description">
        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliquaenim ad minim veniamac quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="wt-tag wt-widgettag">
        <a href="javascript:void(0);">PHP</a>
        <a href="javascript:void(0);">HTML</a>
        <a href="javascript:void(0);">JavaScript</a>
        <a href="javascript:void(0);">WordPress</a>
    </div>
</div>