{% load static %}
{% for worker in workers %}
<div class="wt-userlistinghold wt-featured">
    <span class="wt-featuredtag"><img src="{% static 'images/featured.png' %}" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
    <figure class="wt-userlistingimg">
        {% if worker.image_small_avatar %}
        <img src="{{ worker.image_small_avatar.url }}" alt="image description">
        {% else %}
        <img src="{% static 'images/default.jpg' %}" style="width: 100px; height: 100px;">
        {% endif %}
    </figure>
    <div class="wt-userlistingcontent">
        <div class="wt-contenthead">
            <div class="wt-title">
                <a href="{% url 'worker_detail' worker.id %}"><i class="fa fa-check-circle"></i>
                    профіль створено {{ worker.created }}
                </a>
                <a href="{% url 'worker_detail' worker.id %}"><h3>{{ worker.user.get_full_name }}</h3></a>
            </div>
            <ul class="wt-userlisting-breadcrumb">
                {% for sub in worker.subcategories.all %} <li><a href="{% url 'worker_by_subcategory' sub.id %}">{{ sub }}</a></li>{% endfor %}                
            </ul>
        </div>
        <div class="wt-rightarea">            
            <div class="rate-star"><div class="rating-active" data-rating="{{ worker.rating }}"></div></div>
            <span class="wt-starcontent">{{ worker.rating| floatformat:2}} <em>Відгуків: {{ worker.feedback }}</em></span>
        </div>
    </div>
    <div class="wt-description">
        <p>{{ worker.describe }}</p>
    </div>
    <div class="wt-tag wt-widgettag">
        {% for tag in worker.skilltags.all %}
        <a href="{% url 'worker_by_tag' tag.name %}">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}
<nav class="wt-pagination" id="nav-paginate" data-url="{{ request.build_absolute_uri }}">
    <ul>
        {% if page_obj.has_previous %}
        <li class="wt-prevpage">
            <a href="javascript:void(0);" 
               data-page="{{ page_obj.number|add:'-1' }}"
               class="paginate">
               <i class="lnr lnr-chevron-left"></i>
            </a>
        </li>
        {% endif %}
        {% for n in page_obj.paginator.page_range %}
            {% if page_obj.number == n %}
            <li class="wt-active"><a href="javascript:void(0);">{{ n }}</a></li>
            {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
            <li><a href="javascript:void(0);" data-page="{{ n }}" class="paginate">{{ n }}</a></li>
            {% endif %}
        {% endfor %}													
        {% if page_obj.has_next %}
        <li class="wt-nextpage">
            <a href="javascript:void(0);" 
               data-page="{{ page_obj.number|add:'1' }}"
               class="paginate">
               <i class="lnr lnr-chevron-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>