{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
	<link rel="stylesheet" href="{% static 'css/dbresponsive.css' %}">
{% endblock extra_css %}
{% block content %}

	<!-- Wrapper Start -->
	<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
		<!-- Content Wrapper Start -->
		<div class="wt-contentwrapper">

			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout">
				<!--Sidebar Start-->
				<div id="wt-sidebarwrapper" class="wt-sidebarwrapper">
					<div id="wt-btnmenutoggle" class="wt-btnmenutoggle">
						<span class="menu-icon">
							<em></em>
							<em></em>
							<em></em>
						</span>
					</div>
					<div id="wt-verticalscrollbar" class="wt-verticalscrollbar">
						<div class="wt-companysdetails wt-usersidebar">
							<figure class="wt-companysimg">
								<img src="{% static 'images/sidebar/img-01.jpg' %}"
									 alt="img description">
							</figure>
							<div class="wt-companysinfo">
								<figure><img src="images/sidebar/img-02.jpg" alt="img description"></figure>
								<div class="wt-title">
									<h2><a href="javascript:void(0);"> Louanne Mattioli</a></h2>
									<span>Amento Tech</span>
								</div>
								<div class="wt-btnarea"><a href="dashboard-postjob.html" class="wt-btn">Post a Job</a></div>
							</div>
						</div>
						<nav id="wt-navdashboard" class="wt-navdashboard">
							<ul>
								<li class="menu-item-has-children">
									<a href="javascript:void(0);">
										<i class="ti-dashboard"></i>
										<span>Insights</span>
									</a>
									<ul class="sub-menu">
										<li><hr><a href="dashboard-insights.html">Insights</a></li>
										<li><hr><a href="dashboard-insightsuser.html">Insights User</a></li>
									</ul>
								</li>
								<li class="wt-active">
									<a href="dashboard-profile.html">
										<i class="ti-briefcase"></i>
										<span>My Profile</span>
									</a>
								</li>
								<li class="menu-item-has-children">
									<a href="javascript:void(0);">
										<i class="ti-package"></i>
										<span>All Jobs</span>
									</a>
									<ul class="sub-menu">
										<li><hr><a href="dashboard-completejobs.html">Completed Jobs</a></li>
										<li><hr><a href="dashboard-canceljobs.html">Cancelled Jobs</a></li>
										<li><hr><a href="dashboard-ongoingjob.html">Ongoing Jobs</a></li>
										<li><hr><a href="dashboard-ongoingsingle.html">Ongoing Single</a></li>
									</ul>
								</li>
								<li>
									<a href="dashboard-managejobs.html">
										<i class="ti-announcement"></i>
										<span>Manage Jobs</span>
									</a>
								</li>
								<li class="wt-notificationicon menu-item-has-children">
									<a href="javascript:void(0);">
										<i class="ti-pencil-alt"></i>
										<span>Messages</span>
									</a>
									<ul class="sub-menu">
										<li><hr><a href="dashboard-messages.html">Messages</a></li>
										<li><hr><a href="dashboard-messages2.html">Messages V 2</a></li>
									</ul>
								</li>
								<li>
									<a href="dashboard-saveitems.html">
										<i class="ti-heart"></i>
										<span>My Saved Items</span>
									</a>
								</li>
								<li>
									<a href="dashboard-invocies.html">
										<i class="ti-file"></i>
										<span>Invoices</span>
									</a>
								</li>
								<li>
									<a href="dashboard-category.html">
										<i class="ti-layers"></i>
										<span>Category</span>
									</a>
								</li>
								<li>
									<a href="dashboard-packages.html">
										<i class="ti-money"></i>
										<span>Packages</span>
									</a>
								</li>
								<li>
									<a href="dashboard-proposals.html">
										<i class="ti-bookmark-alt"></i>
										<span>Proposals</span>
									</a>
								</li>
								<li>
									<a href="dashboard-accountsettings.html">
										<i class="ti-anchor"></i>
										<span>Account Settings</span>
									</a>
								</li>
								<li>
									<a href="dashboard-helpsupport.html">
										<i class="ti-tag"></i>
										<span>Help &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="index.html">
										<i class="ti-shift-right"></i>
										<span>Logout</span>
									</a>
								</li>
							</ul>
						</nav>
						<div class="wt-navdashboard-footer">
							<span>Worktern. © 2019 All Rights Reserved.</span>
						</div>
					</div>
				</div>
				<!--Sidebar Start-->
				<!--Register Form Start-->
				<section class="wt-haslayout">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
							<div class="wt-haslayout wt-dbsectionspace">
								<div class="wt-dashboardbox wt-dashboardtabsholder">
									<div class="wt-dashboardboxtitle">
										<h2>Мій профіль</h2>
									</div>
									<div class="wt-dashboardtabs">
										<ul class="wt-tabstitle nav navbar-nav">
											<li class="nav-item">
												<a class="active" data-toggle="tab"
												   href="#wt-skills">Персональні дані
												</a>
											</li>
											<li class="nav-item"><a data-toggle="tab" href="#wt-education">Теги діяльності</a></li>
											<li class="nav-item"><a data-toggle="tab" href="#wt-awards">Додати телефони</a></li>
											<li class="nav-item"><a data-toggle="tab" href="#wt-portfolio">Створити портфоліо</a></li>
										</ul>
									</div>
									<div class="wt-tabscontent tab-content">
										<div class="wt-personalskillshold tab-pane active fade show" id="wt-skills">
											<div class="wt-yourdetails wt-tabsinfo">
												<div class="wt-tabscontenttitle">
													<h2>Заповніть слідуючі поля</h2>
												</div>
												<form class="wt-formtheme wt-userform"
													  method="post"
													  action="{% url 'worker_account' %}"
													  enctype="multipart/form-data"	>
													{% csrf_token %}
													<fieldset>
														<div class="form-group form-group-half">
															<span class="select">
																<select class="form-control" 
																		title="Область"
																		id="regions"
																		data-url="{% url 'update_cities' %}">
																	<option selected disabled class="text-hide">
																		Область
																	</option>
																	{% for region in regions %}
																	<option value="{{ region.id }}">{{ region.name }}
																	</option>
																	{% endfor %}
																</select>
															</span>
														</div>
														<div class="form-group form-group-half">
																  <span class="caret"><h3>Міста</h3></span>
																{{ worker_form.cities }}

														</div>
														<div class="form-group form-group-half">
															<input type="text" name="username"
																   class="form-control"
																   value="{{ user.username }}"
																   placeholder="Логін"
																   required>
														</div>
														<div class="form-group form-group-half">
															<input type="email" name="email"
																   class="form-control"
																   value="{{ user.email }}"
																   placeholder="Email"
																   required>
														</div>
														<div class="form-group form-group-half">
															<input type="text" name="first_name"
																   class="form-control"
																   value="{{ user.first_name }}"
																   placeholder="Ім'я"
																   required>
														</div>
														<div class="form-group form-group-half">
															<input type="text" name="last_name"
																   class="form-control"
																   value="{{ user.last_name }}"
																   placeholder="Прізвище"
																   required>
														</div>														
														<div class="form-group">
															<textarea class="form-control"  name="describe">{{ worker_form.describe.value }}</textarea>
														</div>
														<div class="form-group form-group-half">
															<span class="select">
                                                        		<select id="categories" data-url="{% url 'update_subcategories' %}" class="form-control">
																	<option selected disabled class="text-hide">Категорії</option>
																	{% for category in categories_job %}
																	<option value="{{ category.name }}">{{ category.name }}</option>
																	{% endfor %}
																</select>
															</span>
														</div>
														<div class="form-group form-group-half">
															<label for="subcat"><h3>Підкатегорії</h3></label>
																{{ worker_form.subcategories }}
														</div>
														<div class="form-group form-group-label">
																<div class="wt-labelgroup">																	
																	{{ worker_form.title_image }}
																	{% if worker.title_image %}
																	<span class="titleImg"><img src="{{ worker.title_image.url }}"></span>
																	{% else %}
																	<span class="titleImg"><img id="previewTitle"/></span>
																	{% endif %}
																	<em class="wt-fileuploading">Uploading<i class="fa fa-spinner fa-spin"></i></em>
																</div>
															</div>
													</fieldset>
													<button type="submit" class="wt-btn submit">Ok</button>
												</form>
											</div>																																																									
										</div>
										<div class="wt-educationholder tab-pane fade" id="wt-education">
											<div class="wt-userexperience wt-tabsinfo">
												<div class="wt-tabscontenttitle wt-addnew">
													<h2>Додайте ключові напрямки вашої діяльності</h2>
													<a href="javascript:void(0);" id="add_new_tag">Додати тег</a>
												</div>
												<form method="POST" action="{% url 'update_tags' %}">
													{% csrf_token %}
													<ul class="wt-experienceaccordion accordion" id="tag_list" name="">
														{% for tag in tags %}
														<li data-url="{% url 'delete_tag' tag.id %}">
															<div class="wt-accordioninnertitle">
																<div class="form-group form-group-half">
																	<input type="text" name="" class="form-control" value="{{ tag.name }}">
																</div>
																<div class="wt-rightarea">
																	<a href="javascript:void(0);" class="wt-deleteinfo deletetag"><i class="lnr lnr-trash"></i></a>
																</div>
															</div>
														</li>
														{% endfor %}
														<li  hidden>
															<div class="wt-accordioninnertitle">
																<div class="form-group form-group-half">
																	<input type="text" name="tag-list" class="form-control" placeholder="Вкажіть ключеве слово">
																</div>
																<div class="wt-rightarea">
																	<a href="javascript:void(0);" class="wt-deleteinfo deletetag"><i class="lnr lnr-trash"></i></a>
																</div>
															</div>
														</li>
													</ul>
													<button type="submit" class="wt-btn submit">Ok</button>
												</form>	
											</div>
										</div>
										<div class="wt-awardsholder tab-pane fade" id="wt-awards">
											<div class="wt-addprojectsholder wt-tabsinfo">
												<div class="wt-tabscontenttitle wt-addnew">
													<h2>Телефони для контакту</h2>
													<a href="javascript:void(0);" id="add_new_phone">Додати телефон</a>
												</div>
												<form method="POST" action="{% url 'update_phones' %}">
													{% csrf_token %}
													<ul class="wt-experienceaccordion accordion" id="phone_list" name="">
														{% for phone in phones %}
														<li data-url="{% url 'delete_phone' phone.id %}">
															<div class="wt-accordioninnertitle">
																<div class="form-group form-group-half">
																	<input type="text" name="" class="form-control" value="{{ phone.number }}">
																</div>
																<div class="wt-rightarea">
																	<a href="javascript:void(0);" class="wt-deleteinfo deletephone"><i class="lnr lnr-trash"></i></a>
																</div>
															</div>
														</li>
														{% endfor %}
														<li  hidden>
															<div class="wt-accordioninnertitle">
																<div class="form-group form-group-half">
																	<input type="text" name="phone-list" class="form-control" placeholder="Вкажіть номер телефону">
																</div>
																<div class="wt-rightarea">
																	<a href="javascript:void(0);" class="wt-deleteinfo deletephone"><i class="lnr lnr-trash"></i></a>
																</div>
															</div>
														</li>
													</ul>
													<button type="submit" class="wt-btn submit">Ok</button>
												</form>
											</div>																		
										</div>
										<div class="wt-awardsholder tab-pane fade" id="wt-portfolio">
											<div class="wt-addprojectsholder wt-tabsinfo">
												<div class="wt-tabscontenttitle wt-addnew">
													<h2>Створіть ваше портфоліо</h2>
													<p>Додайте не більше 9 фото розмір яких не перевищує 2 Мб</p>
													<a href="javascript:void(0);" id="add_new_photo">Додати фото</a>
												</div>
												<form method="POST" action="{% url 'update_photos' %}" enctype="multipart/form-data">
													{% csrf_token %}				
													<div class="form-group">
														<ul class="wt-attachfile wt-attachfilevtwo" id="photo_list">
															{% for photo in photos %}
															<li data-url="{% url 'delete_photo' photo.id %}">
																<img src="{{ photo.image.url }}">
																<span><a href="javascript:void(0);" class="deletePhoto">X</a></span>
															</li>
															{% endfor %}
															<li hidden>																
																<input type="file" name="portfolio" class="portfolio">
																<span class="titleImg"><img/></span>																	
																<a href="javascript:void(0);" class="deletePhoto">X</a>																																
															</li>															
														</ul>																	
													<button type="submit" class="wt-btn submit">Ok</button>
												</form>
											</div>																		
										</div>
									</div>
								</div>
							</div>							
						</div>
						
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
						<div class="wt-haslayout wt-dbsectionspace wt-codescansidebar">
							<div class="tg-authorcodescan wt-codescanholder">
								<figure class="tg-qrcodeimg">
									<img src="images/qrcode.png" alt="img description">
								</figure>
								<div class="tg-qrcodedetail">
									<span class="lnr lnr-laptop-phone"></span>
									<div class="tg-qrcodefeat">
										<h3>Scan with your <span>Smart Phone </span> To Get It Handy.</h3>
									</div>
								</div>
								<div class="wt-codescanicons">
									<span>Share Your Profile</span>
									<ul class="wt-socialiconssimple">
										<li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
										<li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
										<li class="wt-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
										<li class="wt-clone"><a href="javascript:void(0);"><i class="far fa-clone"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="wt-companyad">
								<figure class="wt-companyadimg"><img src="images/add-img.jpg" alt="img description"></figure>
								<span>Advertisement  255px X 255px</span>
							</div>
						</div>
					</div>
				</section>
				<!--Register Form End-->
			</main>
			<!--Main End-->	
		</div>
		<!--Content Wrapper End-->
	</div>
	<!--Wrapper End-->
    {% block extra_js %}
		<script>
			const menu_icon = document.querySelector('.menu-icon');
			function addClassFunThree() {
				this.classList.toggle("click-menu-icon");
			}
			menu_icon.addEventListener('click', addClassFunThree);
		</script>
		<script src="{% static 'js/jquery.sortable.js' %}"></script>
	{% endblock extra_js %}
{% endblock content %}