{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
	<link rel="stylesheet" href="{% static 'css/dbresponsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/typeahead.css' %}">
{% endblock extra_css %}
{% block content %}

	<!-- Wrapper Start -->
	<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
		<!-- Content Wrapper Start -->
		<div class="wt-contentwrapper">

			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout">				
				<!--Register Form Start-->
				<section class="wt-haslayout">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
							<div class="wt-haslayout wt-dbsectionspace">
								<div class="wt-dashboardbox wt-dashboardtabsholder">
									<div class="wt-dashboardboxtitle">
										<h2>Мій профіль</h2>
										{% if request.user.worker %}
										<a href="{% url 'worker_detail' request.user.worker.id %}">Переглянути профіль</a>
										{% endif %}
									</div>
									<div class="wt-dashboardtabs">
										<ul class="wt-tabstitle nav navbar-nav">
											<li class="nav-item">
												<a class="active" data-toggle="tab"
												   href="#wt-skills">Персональні дані
												</a>
											</li>
											<li class="nav-item"><a data-toggle="tab" href="#wt-education">Теги діяльності</a></li>
											<li class="nav-item"><a data-toggle="tab" href="#wt-awards">Додати телефони</a></li>
											<li class="nav-item"><a data-toggle="tab" href="#wt-portfolio">Створити портфоліо</a></li>
											<li class="nav-item"><a data-toggle="tab" href="#wt-set">Вимкнути профіль</a></li>
											{% if request.user.worker %}
											<li class="nav-item"><a data-toggle="tab" href="#wt-delete">Видалити профіль</a></li>
											{% endif %}
										</ul>
									</div>
									<div class="wt-tabscontent tab-content">
										<div class="wt-personalskillshold tab-pane active fade show" id="wt-skills">
											<div class="wt-yourdetails wt-tabsinfo">
												<div class="wt-tabscontenttitle">
													<h2>Заповніть слідуючі поля</h2>
												</div>
												<form class="wt-formtheme wt-userform"
													  method="post"
													  action="{% url 'worker_account' %}"
													  enctype="multipart/form-data"	>
													{% csrf_token %}
													<fieldset>
														<div class="form-group form-group-half">
															<span class="select">
																<select class="form-control" 
																		title="Область"
																		id="regions"
																		data-url="{% url 'update_cities' %}">
																	<option selected disabled class="text-hide">
																		Область
																	</option>
																	{% for region in regions %}
																	<option value="{{ region.id }}">{{ region.name }}
																	</option>
																	{% endfor %}
																</select>
															</span>
														</div>
														<div class="form-group form-group-half">
																  <span class="caret"><h3>Міста</h3></span>
																{{ worker_form.cities }}

														</div>
														<div class="form-group form-group-half">
															<input type="text" name="username"
																   class="form-control"
																   value="{{ user.username }}"
																   placeholder="Логін"
																   required>
														</div>
														<div class="form-group form-group-half">
															<input type="email" name="email"
																   class="form-control"
																   value="{{ user.email }}"
																   placeholder="Email"
																   required>
														</div>
														<div class="form-group form-group-half">
															<input type="text" name="first_name"
																   class="form-control"
																   value="{{ user.first_name }}"
																   placeholder="Ім'я"
																   required>
														</div>
														<div class="form-group form-group-half">
															<input type="text" name="last_name"
																   class="form-control"
																   value="{{ user.last_name }}"
																   placeholder="Прізвище"
																   required>
														</div>														
														<div class="form-group">
															<textarea class="form-control"  name="describe">{{ worker_form.describe.value }}</textarea>
														</div>
														<div class="form-group form-group-half">
															<span class="select">
                                                        		<select id="categories" data-url="{% url 'update_subcategories' %}" class="form-control">
																	<option selected disabled class="text-hide">Категорії</option>
																	{% for category in categories_job %}
																	<option value="{{ category.id }}">{{ category.name }}</option>
																	{% endfor %}
																</select>
															</span>
														</div>
														<div class="form-group form-group-half">
															<label for="subcat"><h3>Підкатегорії</h3></label>
																{{ worker_form.subcategories }}
														</div>
														<div class="form-group form-group-label">
																<div class="wt-labelgroup">																	
																	{{ worker_form.title_image }}
																	{% if worker.title_image %}
																	<span class="titleImg"><img src="{{ worker.title_image.url }}"></span>
																	{% else %}
																	<span class="titleImg"><img id="previewTitle"/></span>
																	{% endif %}
																	<em class="wt-fileuploading">Uploading<i class="fa fa-spinner fa-spin"></i></em>
																</div>
															</div>
													</fieldset>
													<button type="submit" class="wt-btn submit">Ok</button>
												</form>
											</div>																																																									
										</div>
										<div class="wt-educationholder tab-pane fade" id="wt-education">
											<div class="wt-userexperience wt-tabsinfo">
												<div class="wt-tabscontenttitle wt-addnew">
													<h2>Додайте ключові напрямки вашої діяльності</h2>
													<p>Наприклад для будівельних послуг ключовими словами можуть бути: монтаж, демонтаж,бетон, штукатурка і т.д. </p>
													<a href="javascript:void(0);" id="add_new_tag">Додати тег</a>
												</div>
												<form method="POST" action="{% url 'update_tags' %}">
													{% csrf_token %}
													<ul class="wt-experienceaccordion accordion" id="tag_list" name="">
														{% for tag in tags %}
														<li data-url="{% url 'delete_tag' tag.id %}">
															<div class="wt-accordioninnertitle">
																<div class="form-group form-group-half">
																	<input type="text" name="" class="form-control" value="{{ tag.name }}">
																</div>
																<div class="wt-rightarea">
																	<a href="javascript:void(0);" class="wt-deleteinfo deletetag"><i class="lnr lnr-trash"></i></a>
																</div>
															</div>
														</li>
														{% endfor %}
														<li  hidden>
															<div class="wt-accordioninnertitle">
																<div class="form-group form-group-half">
																	<input type="text" name="tag-list" class="form-control typeahead" placeholder="Вкажіть ключеве слово">
																</div>
																<div class="wt-rightarea">
																	<a href="javascript:void(0);" class="wt-deleteinfo deletetag"><i class="lnr lnr-trash"></i></a>
																</div>
															</div>
														</li>
													</ul>
													<button type="submit" class="wt-btn submit">Ok</button>
												</form>	
											</div>
										</div>
										<div class="wt-awardsholder tab-pane fade" id="wt-awards">
											<div class="wt-addprojectsholder wt-tabsinfo">
												<div class="wt-tabscontenttitle wt-addnew">
													<h2>Телефони для контакту</h2>
													<a href="javascript:void(0);" id="add_new_phone">Додати телефон</a>
												</div>
												<form method="POST" action="{% url 'update_phones' %}">
													{% csrf_token %}
													<ul class="wt-experienceaccordion accordion" id="phone_list" name="">
														{% for phone in phones %}
														<li data-url="{% url 'delete_phone' phone.id %}">
															<div class="wt-accordioninnertitle">
																<div class="form-group form-group-half">
																	<input type="text" name="" class="form-control" value="{{ phone.number }}">
																</div>
																<div class="wt-rightarea">
																	<a href="javascript:void(0);" class="wt-deleteinfo deletephone"><i class="lnr lnr-trash"></i></a>
																</div>
															</div>
														</li>
														{% endfor %}
														<li  hidden>
															<div class="wt-accordioninnertitle">
																<div class="form-group form-group-half">
																	<input type="text" name="phone-list" class="form-control" placeholder="Вкажіть номер телефону">
																</div>
																<div class="wt-rightarea">
																	<a href="javascript:void(0);" class="wt-deleteinfo deletephone"><i class="lnr lnr-trash"></i></a>
																</div>
															</div>
														</li>
													</ul>
													<button type="submit" class="wt-btn submit">Ok</button>
												</form>
											</div>																		
										</div>
										<div class="wt-awardsholder tab-pane fade" id="wt-portfolio">
											<div class="wt-addprojectsholder wt-tabsinfo">
												<div class="wt-tabscontenttitle wt-addnew">
													<h2>Створіть ваше портфоліо</h2>
													<p>Додайте не більше 9 фото розмір яких не перевищує 2 Мб.<br/> Щоб зменьшити розмір можете скористатися 
														<a href="https://www.imgonline.com.ua/compress-image-size.php">цим ресурсом</a></p>
													<a href="javascript:void(0);" id="add_new_photo">Додати фото +</a>
												</div>
												<form method="POST" action="{% url 'update_photos' %}" enctype="multipart/form-data">
													{% csrf_token %}				
													<div class="form-group">
														<ul class="wt-attachfile wt-attachfilevtwo" id="photo_list">
															{% for photo in photos %}
															<li data-url="{% url 'delete_photo' photo.id %}">
																<img src="{{ photo.image.url }}">																
																<span><a href="javascript:void(0);" class="deletePhoto">X</a></span>										
															</li>
															{% endfor %}
															<li hidden>																
																<input type="file" name="portfolio" class="portfolio">
																<span class="titleImg"><img/></span>																																	
																<a href="javascript:void(0);" class="deletePhoto">X</a>																																																
															</li>															
														</ul>
													</div>																		
													<button type="submit" class="wt-btn submit">Ok</button>
												</form>
											</div>																		
										</div>
										<div class="wt-awardsholder tab-pane fade" id="wt-set">
											<div class="wt-addprojectsholder wt-tabsinfo">
												<div class="wt-tabscontenttitle wt-addnew">
													<h2>Вимкнути профіль</h2>
													<p>Ви можете тимчасово вимкнути профіль і він не буде відображатися в результатах пошуку</p>			
												</div>
												<form method="POST" action="{% url 'toggle_account' %}">
													{% csrf_token %}				
													<div class="form-group">
														<div class="wt-on-off pull-right">
															<input type="checkbox" 
																	id="hide-onfour" 
																	name="toggle_account"
																	{% if worker.is_active %}
																	checked=""
																	{% endif %}
															>		
															<label for="hide-onfour"><i></i></label>
														</div>
														{% if worker.is_active %}
														<span>Вимкнути тимчасово профіль</span>
														{% else %}
														<span>Увімкнути профіль</span>	
														{% endif %}	
													</div>																										
													<button type="submit" class="wt-btn submit">Ok</button>
												</form>
											</div>																		
										</div>
										{% if request.user.worker %}
										<div class="wt-awardsholder tab-pane fade" id="wt-delete">
											<div class="wt-addprojectsholder wt-tabsinfo">
												<div class="wt-tabscontenttitle wt-addnew">
													<h2>Видалити профіль!</h2>
													<p>Будьте уважні!!! Ви намагаєтеся видалити власний профіль</p>			
												</div>												
												<a href="{% url 'worker_delete' request.user.worker.id%}" class="wt-btn">Видалити</a>												
											</div>																		
										</div>
										{% endif %}										
									</div>									
								</div>
						</div>																			
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
						<div class="wt-haslayout wt-dbsectionspace wt-codescansidebar">
							<div class="tg-authorcodescan wt-codescanholder">
								<figure class="tg-qrcodeimg">
									<img src="{% static 'images/client/olmo.jpeg' %}" alt="img description">
								</figure>								
								<div class="wt-codescanicons">
									<span>Кондиціонери OLMO. Продаж, установка.м.Олександрія вул.Братська 65. Магазин 'Ера'</span>									
								</div>
							</div>
							<!-- <div class="wt-companyad">
								<figure class="wt-companyadimg"><img src="{% static 'images/add-img.jpg' %}" alt="img descripton"></figure>
								<span>Advertisement  255px X 255px</span>
							</div> -->
						</div>
					</div>
				</section>
				<!--Register Form End-->
			</main>
			<!--Main End-->	
		</div>
		<!--Content Wrapper End-->
	</div>
	<!--Wrapper End-->    
{% endblock content %}