{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Wrapper Start -->
	<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
		<!-- Content Wrapper Start -->
		<div class="wt-contentwrapper">

			<!--Home Banner Start-->
			<div class="wt-haslayout wt-bannerholder">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-5">
							<div class="wt-bannerimages">
								<figure class="wt-bannermanimg" data-tilt>
									<img src="{% static 'images/bannerimg/img-011.png' %}"
										 alt="img description">
									<img src="{% static 'images/bannerimg/img-02.png' %}"
										 class="wt-bannermanimgone" alt="img description">
									<img src="{% static 'images/bannerimg/img-03.png' %}"
										 class="wt-bannermanimgtwo" alt="img description">
								</figure>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
							<div class="wt-bannercontent">
								<div class="wt-bannerhead">
									<div class="wt-title">
										<h1><span>Вам потрібна допомога</span> і ви шукаєте справжнього професіонала?</h1>
									</div>
									<div class="wt-description">
										<p>Вибирайте майстра своєї справи та залишайте відгук про виконану роботу!</p>
									</div>
								</div>
								<form class="wt-formtheme wt-formbanner" method="GET" action="{% url 'worker_list' %}">
									<fieldset>
										<div class="form-group">
											<input type="text" name="fullname" class="form-control" placeholder="Пошук майстра">
											<div class="wt-formoptions">
												<!-- <div class="wt-dropdown">
													<span>In: <em class="selected-search-type">Freelancers </em><i class="lnr lnr-chevron-down"></i></span>
												</div> -->
												<!-- <div class="wt-radioholder">
													<span class="wt-radio">
														<input id="wt-freelancers" data-title="Freelancers" type="radio" name="searchtype" value="freelancer" checked>
														<label for="wt-freelancers">Freelancers</label>
													</span>
													<span class="wt-radio">
														<input id="wt-jobs"  data-title="Jobs" type="radio" name="searchtype" value="job">
														<label for="wt-jobs">Jobs</label>
													</span>
													<span class="wt-radio">
														<input id="wt-company"  data-title="Companies" type="radio" name="searchtype" value="job">
														<label for="wt-company">Companies</label>
													</span>
												</div> -->
												<button type="submit" class="wt-searchbtn"><i class="lnr lnr-magnifier"></i></button>
											</div>
										</div>
									</fieldset>
								</form>
								<!-- <div class="wt-videoholder">
									<div class="wt-videoshow">
										<a data-rel="prettyPhoto[video]" href="https://www.youtube.com/watch?v=J37W6DjqT3Q"><i class="fa fa-play"></i></a>
									</div>
									<div class="wt-videocontent">
										<span>See For Yourself!<em>How it works &amp; experience the ultimate joy.</em></span>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Home Banner End-->
			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout">
				<!--Categories Start-->
				<section class="wt-haslayout wt-main-section">
					<div class="container">
						<div class="row justify-content-md-center">
							<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
								<div class="wt-sectionhead wt-textcenter">
									<div class="wt-sectiontitle">
										<h2>Категорії послуг</h2>
										<span>Оберіть підкатегорію</span>
									</div>
								</div>
							</div>
							<div class="wt-categoryexpl">
								{% for category in categories %}
								<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 float-left">
									<div class="wt-categorycontent">
										<figure><img src="{{ category.category_avatar.url }}"
													 alt="image description"></figure>
										<div class="wt-cattitle">
											<h3><a href="javascrip:void(0);">{{ category.name }}
											    </a>
											</h3>
										</div>
										<div class="wt-categoryslidup">
											{% for subcategory in category.subcategories.all %}
											<a href="{% url 'worker_by_subcategory' subcategory.id  %}">
												{{ subcategory }} {{ subcategory.workers.all|length }}
												 <i	class="fa fa-arrow-right"></i></a><br/>
											{% endfor %}
										</div>
									</div>
								</div>
								{% endfor %}								
							</div>
						</div>
					</div>
				</section>
				<!--Categories End-->
				<!--Limitless Experience Start-->
				<section class="wt-haslayout wt-main-section">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
								<figure class="wt-mobileimg">
									<img src="{% static 'images/client/C&H.jpg' %}" alt="img description">
								</figure>
							</div>
							<div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
								<div class="wt-experienceholder">
									<div class="wt-sectionhead">
										<div class="wt-sectiontitle">
											<h2>Магазин "Ера"</h2>
											<span>Продаж та обслуговування кондиціонерів</span>
										</div>
										<div class="wt-description">
											<p>Кондиціонери Cooper&Hunter надійні, тихі, відповідають сучасним критеріям енергоефективності .</p>
											<p>Наша адреса: м.Олександрія вул.Братська 65(навпроти басейну)</p>
										</div>										
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Limitless Experience End-->				
			</main>
			<!--Main End-->
		</div>
		<!--Content Wrapper End-->
	</div>
<!--Wrapper End-->
{% endblock content %}