Привіт друже,

Ви надіслали запит для зміни пароля {{ email }}. Перейдіть за цим посиланням:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Логін користівача: {{ user.username }}

Якщо клікнувши по даному посиланні нічого не відбулося, скопіюйте дане посилання і вставте його в
новому вікні вашого браузара.

Якщо ви отримали це повідомлення випадково, можливо інший користувач ввів помилково ваш email для
відновлення пароля. Якщо ви не ініціювали запит, вам не потрібно вживати подальших дій і можете безпечно
ігнорувати цей електронний лист.
