{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
{% endblock extra_css %}
{% block content %}
<!--Inner Home Banner Start-->
<div class="wt-haslayout wt-innerbannerholder wt-innerbannerholdervtwo">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
			</div>
		</div>
	</div>
</div>
<!--Inner Home End-->
<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
	<!-- User Profile Start-->
	<div class="wt-main-section wt-paddingtopnull wt-haslayout">
		<div class="container">
			<div class="row">	
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
					<div class="wt-userprofileholder">						
						<div class="col-12 col-sm-12 col-md-12 col-lg-3 float-left">
							<div class="row">
								<div class="wt-userprofile">
									<figure>
										<img src="{{ worker.image_detail_avatar.url }}" alt="img description">
										<div class="wt-userdropdown wt-online">
										</div>
									</figure>
									<div class="wt-title">
										<h3><i class="fa fa-check-circle"></i>   {{ worker.user.get_full_name }}</h3>
										<span>{{ worker.rating| floatformat:2}}<a class="javascript:void(0);">{{ worker.feedback }}</a>
											 <br>Зареєстрований {{ worker.created}}
											 <br><a href="javascript:void(0);">{{ worker.user.email }}</a> 
											 <a href="javascript:void(0);" class="wt-reportuser">Report User</a></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-9 float-left">
							<div class="row">
								<div class="wt-proposalhead wt-userdetails">
									<h2>{% for sub in worker.subcategories.all %} {{ sub }}  | {% endfor %}</h2>
									<ul class="wt-userlisting-breadcrumb wt-userlisting-breadcrumbvtwo">
										{% for phone in worker.phones.all %}
										<li>{{ phone }}</li>	
										{% endfor %}
									</ul>
									<div class="describe">
										<p>{{ worker.describe }}</p>
									</div>
								</div>
								<div class="wt-widgetcontent">
									<div class="wt-widgettag wt-widgettagvtwo">
										{% for tag in worker.skilltags.all %}
										<a href="{% url 'worker_by_tag' tag.name %}">{{ tag.name }}</a>
										{% endfor %}										
									</div>
								</div>
								<!-- <div id="wt-statistics" class="wt-statistics wt-profilecounter">
									<div class="wt-statisticcontent wt-countercolor1">
										<h3 data-from="0" data-to="03" data-speed="800" data-refresh-interval="03">03</h3>
										<h4>Ongoing <br>Projects</h4>
									</div>
									<div class="wt-statisticcontent wt-countercolor2">
										<h3 data-from="0" data-to="1503" data-speed="8000" data-refresh-interval="100">1503</h3>
										<h4>Completed <br>Projects</h4>
									</div>
									<div class="wt-statisticcontent wt-countercolor4">
										<h3 data-from="0" data-to="02" data-speed="800" data-refresh-interval="02">02</h3>
										<h4>Cancelled <br>Projects</h4>
									</div>
									<div class="wt-statisticcontent wt-countercolor3">
										<h3 data-from="0" data-to="25" data-speed="8000" data-refresh-interval="100">25</h3>
										<em>k</em>
										<h4>Served <br>Hours</h4>
									</div>
									<div class="wt-description">
										<p>* Adpsicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
										<a href="javascript:void(0);" class="wt-btn" data-toggle="modal" data-target="#reviewermodal">Send Offer</a>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- User Profile End-->
		<!-- User Listing Start-->
		<div class="container">
			<div class="row">
				<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
						<div class="wt-usersingle">
							<div class="wt-clientfeedback pages">
								<div class="wt-usertitle wt-titlewithselect">
									<h2>Відгуки</h2>
									<div class="form-group">
										<span class="wt-select">
											<select id="filter-response" 
													data-id="{{ worker.id }}" 
													data-url="{% url 'filter_response' %}">
												<option value="all">Всі</option>
												<option value="fresh">з найсвіжіших</option>
												<option value="old">З попередніх</option>
												<option value="highrate">З вищим рейтенгом</option>
												<option value="lowrate">З нищим рейтенгом</option>
											</select>
										</span>
									</div>
								</div>
								<div id="response-list" class="items"> 
									{% include 'includes/response_list.html' %}
								</div>
								{% if responses.has_next %}							
								<div class="wt-btnarea more-btn">
									<a href="javascript:void(0);" 
									   class="wt-btn load-more"
									   data-pages="{{ paginator.num_pages }}"
									   data-page="{{ page_obj.number }}">
									   Завантажити ще
									</a>
								</div>
								{% endif %}
							</div>
							<div class="wt-craftedprojects">
								<div class="wt-usertitle">
									<h2>Портфоліо</h2>
								</div>
								<div class="wt-projects">
									{% for photo in worker.workimages.all %}
									<div class="wt-project">
										<figure>
											<a href="{{ photo.image.url }}" data-lightbox="portfolio">
												<img src="{{ photo.image_detail.url }}">
											</a>
										</figure>
										
									</div>
									{% endfor %}									
								</div>
							</div>							
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
						<aside id="wt-sidebar" class="wt-sidebar">														
							<div class="wt-proposalsr">
								<div class="tg-authorcodescan tg-authorcodescanvtwo">
									<figure class="tg-qrcodeimg">
										<img src="images/qrcode.png" alt="img description">
									</figure>
									<div class="tg-qrcodedetail">
										<span class="lnr lnr-laptop-phone"></span>
										<div class="tg-qrcodefeat">
											<h3>Scan with your <span>Smart Phone </span> To Get It Handy.</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="wt-widget">
								<div class="wt-widgettitle">
									<h2>Similar Freelancers</h2>
								</div>
								<div class="wt-widgetcontent">
									<div class="wt-widgettag wt-widgettagvtwo">
										<a href="javascript:void(0);">PHP Developer</a>
										<a href="javascript:void(0);">PHP</a>
										<a href="javascript:void(0);">My SQL</a>
										<a href="javascript:void(0);">Business</a>
										<a href="javascript:void(0);">Website Development</a>
										<a href="javascript:void(0);">Collaboration</a>
										<a href="javascript:void(0);">Decent</a>
									</div>
								</div>
							</div>
							<div class="wt-widget wt-sharejob">
								<div class="wt-widgettitle">
									<h2>Share This User</h2>
								</div>
								<div class="wt-widgetcontent">
									<ul class="wt-socialiconssimple">
										<li class="wt-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i>Share on Facebook</a></li>
										<li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i>Share on Twitter</a></li>
										<li class="wt-linkedin"><a href="javascript:void(0);"><i class="fas fa-star"></i>Share on Linkedin</a></li>
										<li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i>Share on Google Plus</a></li>
									</ul>
								</div>
							</div>
							<div class="wt-widget wt-reportjob">
								{% if request.user.is_superuser or request.user == worker.user %}
								<div class="wt-widgettitle">
									<h2>Залишити відгук</h2>
								</div>
								{% endif %}
								{% if request.user.is_authenticated %}
								<div class="wt-widgetcontent">
									<form method="POST" action="{% url 'create_response' worker.id %}" class="wt-formtheme wt-formreport">
										<fieldset>
											{% csrf_token %}
											<div class="form-group">
												<span class="wt-select">
													<select id="select-star" name="rating">
														<option value="">Оцініть роботу</option>
														<option value="5" >5</i></option>
														<option value="4">4</option>
														<option value="3">3</option>
														<option value="2">2</option>
														<option value="1">1</option>
													</select>
												</span>
											</div>
											<div class="form-group">
												<textarea class="form-control" name="description" placeholder="Напишіть відгук"></textarea>
											</div>
											<div class="form-group wt-btnarea">
												<button type="submit" class="wt-btn submit">Ok</button>
											</div>
										</fieldset>
									</form>
								</div>
								{% else %}
								<h3>Зареєструйтеся</h3>
								{% endif %}
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<!-- User Listing End-->
	</div>
</main>
<!--Main End-->
{% endblock content %}			