{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}
   <meta property="og:title" content="{{  worker.user.get_full_name }}">
	<meta property="og:description" content="{{ worker.describe }}">
	{% if worker.title_image %}
	<meta property="og:image" content="{{ worker.image_detail_avatar.url  }}">
	{% else %}
	<meta property="og:image" content="{% static 'images/default.jpg' %}">
	{% endif %}
	<meta property="og:url" content="{% url 'worker_detail' worker.id %}">
	<meta property="og:site_name" content="Work helper">
{% endblock extra_meta %}
{% block extra_css %}
<link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
{% endblock extra_css %}
{% block content %}
<!--Inner Home Banner Start-->
<div class="wt-haslayout wt-innerbannerholder wt-innerbannerholdervtwo">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
			</div>
		</div>
	</div>
</div>
<!--Inner Home End-->
<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
	<!-- User Profile Start-->
	<div class="wt-main-section wt-paddingtopnull wt-haslayout">
		<div class="container">
			<div class="row">	
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
					<div class="wt-userprofileholder">						
						<div class="col-12 col-sm-12 col-md-12 col-lg-3 float-left">
							<div class="row">
								<div class="wt-userprofile">
									<figure>
										{% if worker.title_image %}
										<img src="{{ worker.image_detail_avatar.url }}" alt="img description">
										{% else %}
										<img src="{% static 'images/default.jpg' %}" style="width: 225px; height: 225px;">
										{% endif %}
										<div class="wt-userdropdown wt-online">
										</div>
									</figure>
									<div class="wt-title">
										<h3><i class="fa fa-check-circle"></i>   {{ worker.user.get_full_name }}</h3>
										<p>Переглядів профілю {{ worker.views }}</p>
										<span>{{ worker.rating| floatformat:2}}<a class="javascript:void(0);">{{ worker.feedback }}</a>
											 <br>Зареєстрований {{ worker.created}}
											 <br><a href="javascript:void(0);">{{ worker.user.email }}</a> 											
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-9 float-left">
							<div class="row">
								<div class="wt-proposalhead wt-userdetails">
									<h2>{% for sub in worker.subcategories.all %} {{ sub }}  | {% endfor %}</h2>
									<ul class="wt-userlisting-breadcrumb wt-userlisting-breadcrumbvtwo">
										{% for phone in worker.phones.all %}
										<li>{{ phone }}</li>	
										{% endfor %}
									</ul>
									<div class="describe">
										<p>{{ worker.describe }}</p>
									</div>
								</div>
								<div class="wt-widgetcontent">
									<div class="wt-widgettag wt-widgettagvtwo">
										{% for tag in worker.skilltags.all %}
										<a href="{% url 'worker_by_tag' tag.name %}">{{ tag.name }}</a>
										{% endfor %}										
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- User Profile End-->
		<!-- User Listing Start-->
		<div class="container">
			<div class="row">
				<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
						<div class="wt-usersingle">
							<div class="wt-clientfeedback">
								<div class="wt-usertitle wt-titlewithselect">
									<h2>Відгуки</h2>
									<div class="form-group">
										<span class="wt-select">
											<select id="filter-response" 
													data-id="{{ worker.id }}" 
													data-url="{% url 'filter_response' %}">
												<option value="all">Всі</option>
												<option value="fresh">з найсвіжіших</option>
												<option value="old">З попередніх</option>
												<option value="highrate">З вищим рейтенгом</option>
												<option value="lowrate">З нищим рейтенгом</option>
											</select>
										</span>
									</div>
								</div>
								<div class="pages-filter">
									<div  class=""> 
										{% include 'includes/response_list.html' %}
									</div>
								</div>
							</div>
							
							<div class="wt-craftedprojects">
								<div class="wt-usertitle">
									<h2>Портфоліо</h2>
								</div>
								<div class="wt-projects">
									{% for photo in worker.workimages.all %}
									<div class="wt-project">
										<figure>
											<a href="{{ photo.image.url }}" data-lightbox="portfolio">
												<img src="{{ photo.image_detail.url }}">
											</a>
										</figure>
										
									</div>
									{% endfor %}									
								</div>
							</div>							
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
						<aside id="wt-sidebar" class="wt-sidebar">														
							<div class="wt-proposalsr">
								<div class="tg-authorcodescan tg-authorcodescanvtwo">
									<figure class="tg-qrcodeimg">
										<img src="{% static 'images/client/olmo.jpeg' %}" alt="img description">
									</figure>								
									<div class="wt-codescanicons">
										<span>Кондиціонери OLMO. Продаж, установка. вул.Братська 65. Магазин 'Ера'</span>									
									</div>
								</div>
							</div>							
							<div class="wt-widget wt-sharejob">
								<div class="wt-widgettitle">
									<h2>Поширити</h2>
								</div>
								<div class="wt-widgetcontent">
									<ul class="wt-socialiconssimple">
										<li class="wt-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"><i class="fab fa-facebook-f"></i>Через Facebook</a></li>
									</ul>
								</div>
							</div>
							<div class="wt-widget wt-reportjob">
								{% if request.user.is_superuser or request.user == worker.user %}
								<div class="wt-widgettitle">
									<h2>Залишити відгук</h2>
								</div>
								{% endif %}
								{% if request.user.is_authenticated %}
								<div class="wt-widgetcontent">
									<form method="POST" action="{% url 'create_response' worker.id %}" class="wt-formtheme wt-formreport">
										<fieldset>
											{% csrf_token %}
											<div class="form-group">
												<div class="simple-rating">
													<div class="rating-items">
														<input type="radio" 
															   value="5" 
															   name="rating" 
															   id="rating-item__5"
															   class="rating-item">
														<label for="rating-item__5" class="rating-label"></label>
														<input type="radio" 
															   value="4" 
															   name="rating" 
															   id="rating-item__4"
															   class="rating-item">
														<label for="rating-item__4" class="rating-label"></label>
														<input type="radio" 
															   value="3" 
															   name="rating" 
															   id="rating-item__3"
															   class="rating-item">
														<label for="rating-item__3" class="rating-label"></label>
														<input type="radio" 
															   value="2" 
															   name="rating" 
															   id="rating-item__2"
															   class="rating-item">
														<label for="rating-item__2" class="rating-label"></label>
														<input type="radio" 
															   value="1" 
															   name="rating" 
															   id="rating-item__1"
															   class="rating-item">
														<label for="rating-item__1" class="rating-label"></label>													
													</div>
												</div>												
											</div>
											<div class="form-group">
												<textarea class="form-control" name="description" placeholder="Напишіть відгук"></textarea>
											</div>
											<div class="form-group wt-btnarea">
												<button type="submit" class="wt-btn submit">Ok</button>
											</div>
										</fieldset>
									</form>
								</div>
								{% else %}
								<h3>Зареєструйтеся, щоб залишити відгук</h3>
								{% endif %}
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<!-- User Listing End-->
	</div>
</main>
<!--Main End-->
{% endblock content %}			