{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="post" action="{% url 'worker_account' %}">
        {% csrf_token %}
        {{ user_form.as_p }}
        <select id="categories" data-url="{% url 'update_subcategories' %}">
            {% for category in categories_job %}
            <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <label for="subcat">Subcat</label>
        <ul id="subcat">

        </ul>
        {{ worker_form }}
        <button type="submit">Ok</button>
    </form>
{% endblock %}